.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.teamCard {
  max-width: 250px;
  margin: 30px 20px;
}
.cardImg {
  height:50%
}

.teamList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav{
  position: fixed;
  max-height: 10px;
}

.navbar{
  background-color: rgb(107, 235, 185);
  color: white
}

.nav-logo{
  margin-right: 20px;
}

.white {
  color: white!;
}
.img {
  size: 10vh
}
.button{
  margin-top: 100px
}